body{
    background-color: rgb(0, 0, 0);
}

#container{
    font-family:Arial,sans-serif;
    text-align: center;
    /* font-size: 2rem; */
    font-weight: bold;
    color: white;

}



button{
    font-size: 1.5rem;
    padding: 10px 15px;
    border-radius: 10px;
    border: none;
    background-color: orange;
    font-weight: bold;
    cursor: pointer;
}

button:hover{
    background-color: rgb(206, 135, 3);
}
button:active{
    background-color: rgb(253, 196, 89);
}

input{
    font-size: 1rem;
    width: auto;
    text-align: center;
    font-weight: bold ;
}

#numOfDice{
    width: 100px;
}